.order {
	display: flex;
	margin-left:-30px;
}

.order .e-order {
	margin-right: 10px;
}

.order .e-order button {
	border: 0;
	background-color: transparent;
	color: #adb5bd;
	font-weight: 400;
	margin-left: -5px;
}

.order .e-order button:hover {
	color: #6c757d;
}

.order .active button {
	color: #1b1c1d;
	font-weight: 500;
}

.order .active button:hover {
	color: #1b1c1d;
}

.order path {
	fill: #ced4da;
}

.order .active path {
	fill: #0d6efd;
}